body {
  margin: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 7fr 1fr;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(50, 52, 55);
  color: rgb(209, 208, 197);
  box-sizing: border-box;

  gap: 32px;
}

.sidebar-workspaces {
  background-color: rgb(226, 183, 20);
  border: 3px dashed rgb(50, 52, 55);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  grid-row: span 2;
}

.sidebar-workspaces > * {
  font-weight: 700;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.workspace-container > * {
  background-color: rgb(50, 52, 55);
  border-radius: 10px;
  padding: 16px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font: inherit;
  border-radius: 10px;
  width: fit-content;
  padding: 8px;
  background-color: rgb(50, 52, 55);
  color: rgb(209, 208, 197);
  border: none;

  cursor: pointer;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px;

  grid-row: 1;
  grid-column: 2;
}

.todo-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-items > * {
  border: 3px dashed rgb(226, 183, 20);
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  width: 70%;
}

.todo-items > *:hover {
  cursor: pointer;
  background-color: rgb(202, 71, 84, 0.5);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  font-weight: 900;
}

.footer > p {
  padding: 16px;
  background-color: rgb(202, 71, 84);
  border-radius: 10px;
}

a:link,
a:visited {
  color: rgb(226, 183, 20);
}

a {
  text-decoration: none;
}

.active-workspace {
  border-left: 2px solid rgb(202, 71, 84);
}

dialog {
  width: 600px;
  height: 160px;
  padding: 32px;
  border-radius: 6px;
  border: 4px dashed rgb(50, 52, 55);
  background-color: rgb(226, 183, 20);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid rgb(50, 52, 55);
  width: 60%;
}

input:focus {
  outline: none;
  border: 2px solid rgb(202, 71, 84);
}

.workspace-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label[for="workspace-title"] {
  font-size: 1.3rem;
  margin-bottom: 6px;
  width: fit-content;
}

.buttons {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.buttons > * {
  width: 20%;
}

.error-message {
  font-size: 1rem;
  align-self: center;
}

.delete-workspace-item {
  display: inline-block;
  font-size: 0.9rem;
  color: rgb(226, 183, 20);
  text-align: center;
  padding: 8px;
  background-color: rgb(202, 71, 84);
  border: none;

  cursor: pointer;
}

.delete-workspace-item:active {
  position: relative;
  top: 3px;
}

.delete-workspace-item::after {
  content: "Delete";
}

.highlighted-workspace {
  background-color: rgb(202, 71, 84);
}
