:root {
  --primary-clr: rgb(50, 52, 55);
  --secondary-clr: rgb(226, 183, 20);
  --highlight-clr: rgb(202, 71, 84);
  --highlight-clr-light: rgb(202, 71, 84, 0.5);

  --font-clr: rgb(209, 208, 197);

  --low-priority-clr: rgb(226, 183, 20);
  --medium-priority-clr: rgb(86, 202, 73);
  --high-priority-clr: rgb(202, 71, 84);
}

body {
  margin: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 7fr 1fr;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary-clr);
  color: var(--font-clr);
  box-sizing: border-box;

  gap: 32px;
}

.sidebar-workspaces {
  border: 3px dashed rgb(226, 183, 20);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  grid-row: span 2;
}

.sidebar-workspaces > * {
  font-weight: 700;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.workspace-container > * {
  background-color: var(--primary-clr);
  border-radius: 10px;
  padding: 16px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px;

  grid-row: 1;
  grid-column: 2;
}

.todo-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-items > * {
  padding: 16px;
  font-weight: 700;
  width: 70%;
  border-radius: 10px;
}

.todo-items > *:hover {
  cursor: pointer;
  background-color: var(--highlight-clr-light);
}

.workspace-item:hover {
  background-color: var(--highlight-clr-light);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  font-weight: 900;
}

.footer > p {
  padding: 16px;
  background-color: rgb(202, 71, 84);
  border-radius: 10px;
}

a:link,
a:visited {
  color: var(--secondary-clr);
}

a {
  text-decoration: none;
}

.active-workspace {
  border-left: 2px solid var(--highlight-clr);
}

#workspace-dialog,
#todo-dialog {
  padding: 32px;
  border-radius: 6px;
  border: 4px dashed var(--secondary-clr);
  background: var(--primary-clr);
}

#workspace-dialog {
  width: 600px;
  height: 160px;
}

#todo-dialog {
  width: 600px;
  height: 250px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--primary-clr);
  width: 60%;
}

input:focus {
  outline: none;
  border: 2px solid var(--highlight-clr);
}

.workspace-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.3rem;
  margin-bottom: 6px;
  width: fit-content;
  color: var(--secondary-clr);
}

.buttons {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
  font-size: 1.1rem;
}

.buttons > * {
  width: 20%;
}

button {
  font: inherit;
  width: fit-content;
  padding: 16px;
  color: var(--secondary-clr);
  border: none;
  background: none;

  cursor: pointer;
}

button:hover {
  background-color: var(--highlight-clr);
  border-radius: 10px;
}

#add-btn,
#close-btn {
  color: var(--secondary-clr);
  border-bottom: 2px dashed var(--secondary-clr);
}

button:active {
  position: relative;
  top: 3px;
}

#add-workspace {
  color: var(--secondary-clr);
  border-bottom: 2px dashed var(--secondary-clr);
}

.error-message {
  font-size: 1rem;
  align-self: center;
}

.delete-workspace-item,
.delete-button {
  display: inline-block;
  font-size: 0.9rem;
  color: var(--secondary-clr);
  text-align: center;
  padding: 8px;
  border: none;

  cursor: pointer;
}

.delete-workspace-item::after {
  content: "Delete";
}

.highlighted-workspace {
  background-color: var(--highlight-clr-light);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  width: 40%;
}

#todo-form {
  display: flex;
  flex-direction: column;
}

.todo-field {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.todo-field > label {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(226, 183, 20);
  margin: 0;
}

.todo-dropdown {
  gap: 3px;
}

.todo-dropdown > select {
  flex: 1;
}

.low-priority {
  border-right: 5px dashed rgb(226, 183, 20);
}

.medium-priority {
  border-right: 5px dashed rgb(86, 202, 73);
}

.high-priority {
  border-right: 5px dashed rgb(202, 71, 84);
}

.todo-info {
  display: flex;
  gap: 6px;
}

input[type="checkbox"] {
  accent-color: var(--highlight-clr);
  width: 20px;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.todo-done {
  text-decoration: line-through;
}
