body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 7fr 1fr;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(50, 52, 55);
  color: rgb(209, 208, 197);
  box-sizing: content-box;
}

.sidebar-workspaces {
  background-color: rgb(226, 183, 20);
  border: 3px dashed rgb(50, 52, 55);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  grid-row: span 2;
}

.sidebar-workspaces > * {
  font-weight: 700;
}

.workspace-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 16px;
}

.workspace-list > * {
  background-color: rgb(50, 52, 55);
  border-radius: 10px;
  padding: 8px;
  width: 150px;
}

button {
  font: inherit;
  border-radius: 10px;
  width: fit-content;
  padding: 8px;
  background-color: rgb(50, 52, 55);
  color: rgb(209, 208, 197);
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 20px;
  padding: 16px;

  grid-row: 1;
  grid-column: 2;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.items-container > * {
  border: 3px dashed rgb(226, 183, 20);
  padding: 16px;
  border-radius: 10px;
  font-weight: 700;
  width: 70%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  font-weight: 900;
}

a:link,
a:visited {
  color: rgb(226, 183, 20);
}

a {
  text-decoration: none;
}

.active-workspace {
  background-color: rgb(202, 71, 84);
}
